:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  color: var(--mainWhite);
  overflow-x: hidden;
}

body,
html {
  /* height: 100%; */
  font-family: "Oswald", sans-serif;
  background-image: url(../src/IMAGES/TAPETSARIA.jpg);
  background-repeat: repeat;
  background-size: 7rem;
}
.page-wrapper {
  height: 100%;
}
.page-container {
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: O.3rem;
  text-transform: uppercase;
  color: var(--mainBlue);
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  text-align: center;
}
.text-blue {
  color: var(--mainBlue);
  letter-spacing: O.3rem;
  text-transform: uppercase;
  color: var(--mainBlue);
  font-size: clamp(1.1rem, 2.5vw, 2.5rem);
  text-align: center;
}
.text-bright {
  color: var(--lightBlue);
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
.underConstraction-image {
  height: 200px;
}
.service-image {
  font-size: 27px;
  margin-left: 25px;
}
.contactLens-image {
  font-size: 25px;
  margin-left: 36px;
}
.liquid-image {
  font-size: 25px;
  margin-left: 0px;
}
.glasses-image {
  font-size: 25px;
  margin-left: 60px;
}

.navbar {
  background: linear-gradient(
    to bottom left,
    var(--mainBlue),
    var(--lightBlue)
  );

  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  margin-left: 0.3rem;
  margin-top: 0.2rem;
}
.icon-down {
  padding: 0.5px 1px;
  font-size: large;
}
.mail-icon {
  margin-right: 2px;
  font-size: 1.5rem;
}
.tel-icon {
  font-size: 1.3rem;
}
.bag-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 39%;
}

.navbar-nav1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1px;
}
.nav-item {
  font-size: 1.1rem;
  justify-content: space-between;
  align-items: center;
  color: var(--mainWhite);
}
.nav-item:hover {
  color: var(--lightBlue);
}
.nav-item-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  font-size: 1.1rem;
}
.nav-item-links:hover {
  color: var(--lightBlue);
}
.menu-icon {
  display: none;
}
.menu-icon:hover {
  cursor: pointer;
}
.home-icon {
  font-size: 1.7rem;
}
.user-icon {
  font-size: 1.7rem;
}
.dropDown {
  background-color: var(--mainBlue);
  z-index: 1;
  width: 160px;
  position: fixed;
  top: 50px;
  text-align: center;
  justify-content: center;
  font-size: small;
  border-bottom-right-radius: 20%;
}

.dropDown li {
  background: var(--mainBlue);
  cursor: pointer;
}
.dropDown li:hover {
  background: var(--lightBlue);
}
.dropDown-clicked {
  display: none;
}
.dropDownList {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--mainWhite);
  padding: 15px;
  text-align: start;
}

.underConstraction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding-top: 50px;
}
.useOfContactLens {
  margin: 5vh;
  background-color: var(--mainWhite);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 12px 12px 10px rgba(109, 14, 14, 0.8);
  display: grid;
  place-items: center;
}
.useOfContactLens h3 {
  padding: 15px;
}
.useOfContactLens img {
  width: 60%;
}
.useOfContactLens p {
  margin: 4em 2em;
  padding: 5px;
  color: var(--mainBlue);
  text-align: match-parent;
}
.useOfContactLens p img {
  width: 15rem;
  float: right;
}
.SomeWords-container {
  padding: 0 2em;
  margin: 3vh;
  background-color: var(--mainWhite);
  box-sizing: border-box;
  border-radius: 10px;

  box-shadow: 12px 12px 10px rgba(109, 14, 14, 0.8);
}
.SomeWords-card {
  margin: 2em auto;
  padding: 1em;
}

.SomeWords-container p {
  color: var(--mainBlue);
  text-align: justify;
  line-height: 1.75em;
}
.SomeWords-container h3 {
  color: var(--mainBlue);
  line-height: 2;
  font-size: clamp(1.5rem, 1.8vw, 3.5rem);
  border-bottom: 1px solid rgb(223, 115, 14);
}

.SomeWords-card1 img {
  width: 180px;
  height: auto;

  float: left;
  padding: 10px 10px 0 0;
}
.SomeWords-card2 img {
  width: 200px;
  height: 150px;

  float: right;
  padding: 15px 0px 0px 10px;
}
.SomeWords-card3 img {
  width: auto;
  height: 150px;

  float: left;
  padding: 10px 10px 0 5px;
}

.glassesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 5px;
}

.glassesItem {
  flex: 0 1 auto;
  margin: 5px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  width: 330px;
  height: 31vh;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.glassesItem h3 {
  color: var(--mainBlue);
  text-transform: uppercase;
  text-align: center;
  margin-top: 20%;
  font-size: 2rem;
}
.containerForm {
  display: grid;
  place-items: center;
}
.form {
  position: relative;
  margin: 5rem auto;
  background-image: url(./IMAGES/takis2.jpg);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  padding: 0 0.4rem;
  width: 450px;
  border-radius: 10px;
  box-shadow: 12px 12px 10px rgba(109, 14, 14, 0.8);
  transform: scale(1);
}
.formItems {
  margin-left: 50%;
  margin-top: 4px;
  color: var(--mainBlue);
  font-size: 0.9rem;
}
.formItems-file {
  margin-left: 40%;
  color: var(--mainBlue);
  box-sizing: border-box;
  border-radius: 10px;
}

.btn-form {
  width: 10rem;
  margin: 2rem 2rem;
  color: var(--mainBlue);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 12px 12px 10px rgba(109, 14, 14, 0.8);
}

.dailies-container {
  background-image: url(./IMAGES/cLens1.jpg);
  box-sizing: border-box;
  max-width: 70%;
  border-radius: 10px;
  box-shadow: 12px 12px 10px rgba(109, 14, 14, 0.8);
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 30px 60px;
  grid-gap: 5px;
  padding: 2vw;
  transform: scale(1);
}

.a1 {
  background-color: var(--mainWhite);
  grid-column: 1/-1;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  border-color: var(--lightBlue);
  border-radius: 10px;
}
.a1 h3 {
  font-size: clamp(1rem, 1.6vw, 2.1rem);
}
.a1 p {
  color: var(--lightBlue);
  font-size: clamp(0.5rem, 1.2vw, 0.7rem);
}
.a1 h4 {
  color: var(--lightBlue);
  font-size: clamp(0.6rem, 1.2vw, 1.2rem);
}

.a2 {
  background-color: var(--mainWhite);
  grid-column: 3/6;
  grid-row: 3/5;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  border-color: var(--lightBlue);
  border-radius: 10px;
}
.a2 img {
  width: 100%;
  height: auto;
}

.a3 {
  background-color: var(--mainWhite);
  grid-column: 1/2;
  grid-row: 3/6;
  display: grid;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  border-style: solid;
  border-width: 1px;
  background-color: violet;
  border-color: var(--lightBlue);
  border-radius: 10px;
}

.a3 h6 {
  color: var(--lightBlue);
  font-size: clamp(0.42rem, 1.2vw, 1rem);
}
.a4 {
  background-color: var(--mainWhite);
  grid-column: 2/3;
  grid-row: 3/6;
  display: grid;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: var(--lightBlue);
  border-radius: 10px;
}
.a4 h6 {
  color: var(--lightBlue);
  font-size: clamp(0.5rem, 1.2vw, 1rem);
}
.a5 {
  background-color: var(--mainWhite);
  grid-column: 5/6;
  grid-row: 4/5;
  margin: 2px;
  border-radius: 10px;
}
.a5 img {
  width: 100%;
  height: auto;
}
.foo-wrapper {
  background: linear-gradient(
    to bottom left,
    var(--mainBlue),
    var(--lightBlue)
  );
  padding: 0.5rem;
}
.foo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.foo-container p {
  display: grid;
  place-items: center;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
}
.foo-row {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.foo-col {
  font-size: clamp(0.5rem, 1.5vw, 1rem);
}
.foo-col h3 {
  text-transform: capitalize;
  padding-bottom: 10px;
  font-size: clamp(0.65rem, 1.5vw, 1.2rem);
  padding-right: 15px;
}

.form-footer {
  transform: scale(1);
}
.footer-file {
  font-size: clamp(0.5rem, 1.5vw, 0.65rem);
  padding: 3px;
}
.btn-form-footer {
  width: 5rem;

  color: var(--mainBlue);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 12px 12px 10px rgba(109, 14, 14, 0.8);
}
.formItems-footer {
  color: var(--mainBlue);
}
.slide-container {
  position: relative;
  margin: 0.5rem auto;
  width: 95vw;
  height: 300px;
}
.slide {
  height: 100%;
  width: 100%;
  color: #232528;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel {
  position: relative;
  margin: 0.5rem auto;
  width: 95vw;
  height: 300px;
  background-color: black;
}
.carouselInner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
}
.carouselInner .left {
  flex: 5%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  cursor: pointer;
}
.carouselInner .center {
  flex: 90%;
  height: 100%;
}
.carouselInner .right {
  flex: 5%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  place-items: center;
  cursor: pointer;
}
.slider {
  position: relative;
  margin: 0.5rem auto;
  display: flex;
  width: 95vw;
  justify-content: center;
  align-items: center;
}
.image {
  height: 350px;
  width: 100vw;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 8%;
  font-size: 2.5rem;
  background-color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 8%;
  font-size: 2.5rem;
  background-color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
  transform: scale(0.9);
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}
.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logo-container img {
  align-self: center;
}
@media screen and (max-width: 960px) {
  * {
    overflow-x: hidden;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.5rem;
  }

  .nav-item {
    font-size: 1rem;
  }

  .navbar-nav1 {
    z-index: 1;
    display: flex;
    position: fixed;
    right: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #009ffd;
    top: 80px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
    padding: 1rem 0 7rem;
  }
  .active {
    transform: translateX(0%);
  }
  .liquid-image {
    font-size: 25px;
    margin-left: 0px;
  }

  .home-icon {
    font-size: 1.7rem;
  }
  .user-icon {
    font-size: 1.7rem;
  }
  .dropDown {
    display: flex;
    top: auto;
    margin-top: 25px;
    position: fixed;
    left: 7vw;
    align-content: center;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    font-size: small;
    width: 87%;
    max-width: 780px;
    height: 9vh;

    overflow-y: hidden;
    border-bottom-right-radius: 20%;
  }
  .service-image {
    font-size: 25px;
    margin-left: 5px;
  }
  .glasses-image {
    font-size: 25px;
    margin-left: 15px;
  }

  .contactLens-image {
    font-size: 25px;
    margin-left: 36px;
  }
  .liquid-image {
    font-size: 25px;
    margin-left: 0px;
  }
  .service-image {
    font-size: 27px;
    margin-left: 25px;
  }
  .contactLens-image {
    font-size: 25px;
    margin-left: 16px;
  }
  .liquid-image {
    font-size: 25px;
    margin-left: 5px;
  }
  .glasses-image {
    font-size: 25px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  * {
    overflow-x: hidden;
  }
  .dailies-container {
    transform: scale(1.1);
    margin-top: 1rem;
  }

  .nav-item {
    font-size: 0.9rem;
  }

  .tel-icon {
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  .mail-icon {
    margin-top: 4px;
    font-size: 1.5rem;
    margin-left: 3rem;
  }
  .form-footer {
    transform: scale(0.9);
  }
  .form {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 450px) and (orientation: portrait) {
  * {
    overflow-x: hidden;
  }

  .nav-item {
    font-size: 0.6rem;
  }
  .tel-icon {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .mail-icon {
    margin-top: 4px;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .form-footer {
    transform: scale(0.8);
  }
  .form {
    transform: scale(0.75);
    margin-left: -10%;
  }
}
@media screen and (max-width: 360px) and (orientation: portrait) {
  .form {
    transform: scale(0.7);
    margin-left: -13%;
  }
  .dailies-container {
    transform: scale(1.15);
    margin: 3rem auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 45px 60px;
    grid-gap: 2px;
    padding: 5px;
  }
}
